@tailwind base;
@tailwind components;
@tailwind utilities;


/* Create multiple keyframes animations */
@keyframes color-change {
  0% { color: #ff6347; }
  25% { color: #4caf50; }
  50% { color: #2196f3; }
  75% { color: #4d3699; }
  100% { color: #ff6347; }
}

@keyframes scale-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes typing-effect {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Apply continuous animation to the span with your name */
.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 4px solid;
  animation: typing-effect 4s steps(30) 1s forwards, color-change 5s infinite, scale-rotate 6s infinite, bounce 2s infinite;
}

